.login-form {
<<<<<<< HEAD
  max-width: 60%;
=======
  max-width: 50%;
>>>>>>> 9512795a35de78f4614356a8428c4c1ec9b120fd
  display: block;
  margin-left: auto;
  margin-right: auto;
}
<<<<<<< HEAD
.login-form-forgot:hover {
  color: #59BAFF;

=======
.login-form-forgot {
  float: right;
  color: #858484;
}

.login-form-forgot:hover {
  color: #59BAFF;
   
>>>>>>> 9512795a35de78f4614356a8428c4c1ec9b120fd
}
.login-form-button {
  width: 100%;
}
<<<<<<< HEAD
=======


>>>>>>> 9512795a35de78f4614356a8428c4c1ec9b120fd
.register{
  float: right;
  color: #858484;
}
.register:hover{
  color: #59BAFF;
}
<<<<<<< HEAD
=======

>>>>>>> 9512795a35de78f4614356a8428c4c1ec9b120fd
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%; 
<<<<<<< HEAD
  padding-top: 5%;
  padding-bottom: 5%;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 5%;
}
    
=======
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
>>>>>>> 9512795a35de78f4614356a8428c4c1ec9b120fd
